# OrbitalShield Exploratory Data Analysis

In [38]:
# !pip install spacetrack

In [39]:
# !pip install sgp4

In [40]:
from collections import defaultdict
from datetime import(
    datetime,
    timedelta,
    timezone,
)
import getpass
import json
from typing import(
    Dict,
    List,
    Tuple,
)

import numpy as np
from numpy.linalg import norm
import pandas as pd
from scipy.spatial import Voronoi
from sgp4.api import(
    jday,
    Satrec,
    SatrecArray,
)
from spacetrack import SpaceTrackClient

## Extract latest data

In [41]:
# Define Space-Track credential
ST_USER = input("Username:")
ST_PWD = getpass.getpass("Password:")

In [42]:
# Fetch latest satellite records
with SpaceTrackClient(ST_USER, ST_PWD) as st:
    resp = st.gp(
        epoch=">now-1",
        format="json",
    )

In [43]:
# Convert JSON records to dataframe
df = pd.DataFrame(json.loads(resp))
df.head(2)

,CCSDS_OMM_VERS,COMMENT,CREATION_DATE,ORIGINATOR,OBJECT_NAME,OBJECT_ID,CENTER_NAME,REF_FRAME,TIME_SYSTEM,MEAN_ELEMENT_THEORY,...,RCS_SIZE,COUNTRY_CODE,LAUNCH_DATE,SITE,DECAY_DATE,FILE,GP_ID,TLE_LINE0,TLE_LINE1,TLE_LINE2
0,3.0,GENERATED VIA SPACE-TRACK.ORG API,2025-05-13T04:54:31,18 SPCS,STARLINK-5635,2023-013AN,EARTH,TEME,UTC,SGP4,...,LARGE,US,2023-01-26,AFETR,None,4726983,287425155,0 STARLINK-5635,1 55367U 23013AN 25132.65572213 .00000533 0...,2 55367 43.0045 123.2521 0001228 261.4400 98...
1,3.0,GENERATED VIA SPACE-TRACK.ORG API,2025-05-13T04:54:31,18 SPCS,COSMOS 1275 DEB,1981-053LG,EARTH,TEME,UTC,SGP4,...,SMALL,CIS,1981-06-04,PKMTR,None,4726983,287407271,0 COSMOS 1275 DEB,1 17637U 81053LG 25132.65600970 .00001175 0...,2 17637 83.0679 91.8678 0129388 267.7880 273...

## Explore columns

In [ ]:
# Print record
cols = df.columns
records = df.loc[df["NORAD_CAT_ID"]=="25544"].iloc[0,:].tolist()

for i, col in enumerate(cols):
    print(col, ":", records[i])

CCSDS_OMM_VERS : 3.0
COMMENT : GENERATED VIA SPACE-TRACK.ORG API
CREATION_DATE : 2025-05-13T15:06:32
ORIGINATOR : 18 SPCS
OBJECT_NAME : ISS (ZARYA)
OBJECT_ID : 1998-067A
CENTER_NAME : EARTH
REF_FRAME : TEME
TIME_SYSTEM : UTC
MEAN_ELEMENT_THEORY : SGP4
EPOCH : 2025-05-13T10:40:15.402144
MEAN_MOTION : 15.49506546
ECCENTRICITY : 0.00023070
INCLINATION : 51.6344
RA_OF_ASC_NODE : 119.1760
ARG_OF_PERICENTER : 106.2285
MEAN_ANOMALY : 253.8958
EPHEMERIS_TYPE : 0
CLASSIFICATION_TYPE : U
NORAD_CAT_ID : 25544
ELEMENT_SET_NO : 999
REV_AT_EPOCH : 50977
BSTAR : 0.00016281000000
MEAN_MOTION_DOT : 0.00008689
MEAN_MOTION_DDOT : 0.0000000000000
SEMIMAJOR_AXIS : 6796.306
PERIOD : 92.933
APOAPSIS : 419.738
PERIAPSIS : 416.603
OBJECT_TYPE : PAYLOAD
RCS_SIZE : LARGE
COUNTRY_CODE : ISS
LAUNCH_DATE : 1998-11-20
SITE : TTMTR
DECAY_DATE : None
FILE : 4727603
GP_ID : 287448349
TLE_LINE0 : 0 ISS (ZARYA)
TLE_LINE1 : 1 25544U 98067A   25133.44462271  .00008689  00000-0  16281-3 0  9996
TLE_LINE2 : 2 25544  51.6344 119.1760 0002307 106.2285 253.8958 15.49506546509779

### Metadata columns

In [ ]:
# Print satellite's static metadata
df.loc[df["NORAD_CAT_ID"]=="25544"][[
    "NORAD_CAT_ID",
    "OBJECT_ID",  # International Code
    "OBJECT_NAME",
    "OBJECT_TYPE",
    "CLASSIFICATION_TYPE",
    "RCS_SIZE",  # Radar cross section size
    "COUNTRY_CODE",
    "LAUNCH_DATE",
    "SITE",  # Launch site
]].iloc[0,:]

NORAD_CAT_ID                 25544
OBJECT_ID                1998-067A
OBJECT_NAME            ISS (ZARYA)
OBJECT_TYPE                PAYLOAD
CLASSIFICATION_TYPE              U
RCS_SIZE                     LARGE
COUNTRY_CODE                   ISS
LAUNCH_DATE             1998-11-20
SITE                         TTMTR
Name: 15955, dtype: object

### TLE (Two-Line Element) columns

In [ ]:
# Print TLE (Two-Line Element)
df[["TLE_LINE1", "TLE_LINE2"]].iloc[0,:]

TLE_LINE1    1 55367U 23013AN  25132.65572213  .00000533  0...
TLE_LINE2    2 55367  43.0045 123.2521 0001228 261.4400  98...
Name: 0, dtype: object

## Propagate orbits

In [47]:
# Define array of satellite objects based on TLE data
sat_arry = SatrecArray([
    Satrec.twoline2rv(t1, t2) for t1, t2 in df[["TLE_LINE1", "TLE_LINE2"]].to_numpy()
])

In [48]:
# Define future timestamps to propagate orbits
diff_min = 5
total_min = 60 * 24
curr_ts = datetime.now(timezone.utc)
future_ts_li = []
for i in range(diff_min, total_min + diff_min, diff_min):
    ts = curr_ts + timedelta(minutes=i)
    future_ts_li.append(ts)

# Convert timestamps to Julian dates
jd_arry = fr_arry = np.empty(0)
for ts in future_ts_li:
    jd, fr = jday(
        ts.year,
        ts.month,
        ts.day,
        ts.hour,
        ts.minute,
        ts.second + ts.microsecond / 1e6
    )
    jd_arry = np.append(jd_arry, jd)
    fr_arry = np.append(fr_arry, fr)

# Propagate orbits using future dates
e, r, v = sat_arry.sgp4(jd_arry, fr_arry)  # error, position[x, y, z], velocity

In [125]:
# Remove satellites with invalid results
err_idxes = set()
for i, errs in enumerate(e):
    for err in errs:
        if err != 0:
            err_idxes.add(i)
err_idxes = list(err_idxes)
err_idxes.sort(reverse=True)
for idx in err_idxes:
    e = np.vstack((e[:idx], e[idx+1:]))
    r = np.vstack((r[:idx], r[idx+1:]))
    v = np.vstack((v[:idx], v[idx+1:]))

In [126]:
# Define dict for satellite IDs and their propagated orbits
"""
sat_orbit_dict = {
    sat_id_1: [
        [x_t1, y_t1, z_t1],
        ...
        [x_tn, y_tn, z_tn],
    ],
    ...
    sat_id_n:...
}
"""
sat_orbit_dict = dict(zip(df["NORAD_CAT_ID"], r))

## CA (Conjunction Assess)

In [ ]:
# Loop through future timestamps to find conjunction candidates
# at TCA (Time of Closest Approach) with miss distance under threshold
dist_threshold = 5  # km
sat_ids = list(sat_orbit_dict.keys())
pair_ts_dist_dict = defaultdict(list)
for i, ts in enumerate(future_ts_li):
    # Collect satellite positions at iterating timestamp
    positions = []
    for sat_id, orbits in sat_orbit_dict.items():
        positions.append(orbits[i])

    # Map Voronoi diagram to identify neighbouring satellites
    vor = Voronoi(positions)
    for idx1, idx2 in vor.ridge_points:
        sat1 = sat_ids[idx1]
        sat2 = sat_ids[idx2]

        # Collect pairs with Euclidean distance < threshold
        dist = norm(positions[idx1] - positions[idx2])
        if dist < dist_threshold:
            pair = tuple(sorted((sat1, sat2)))
            pair_ts_dist_dict[pair].append((ts, dist))

# Determine miss distance at TCA for conjunction candidates
ca_summary = []
for pair, ts_dist_li in pair_ts_dist_dict.items():
    if not ts_dist_li:
        continue

    tca, dist = min(ts_dist_li, key=lambda x: x[1])
    ca_summary.append({
        "Satellite 1": pair[0],
        "Satellite 2": pair[1],
        "TCA": tca,
        "Miss Distance (km)": dist,
    })

In [178]:
ca_summary

[{'Satellite 1': '48466',
  'Satellite 2': '60513',
  'TCA': datetime.datetime(2025, 5, 13, 15, 49, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 1.0152862226866495},
 {'Satellite 1': '5203',
  'Satellite 2': '54126',
  'TCA': datetime.datetime(2025, 5, 13, 17, 39, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 1.3967836988965352},
 {'Satellite 1': '31097',
  'Satellite 2': '62611',
  'TCA': datetime.datetime(2025, 5, 13, 16, 19, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 2.131428731945432},
 {'Satellite 1': '44628',
  'Satellite 2': '58038',
  'TCA': datetime.datetime(2025, 5, 13, 16, 29, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.984407326134472},
 {'Satellite 1': '20889',
  'Satellite 2': '43082',
  'TCA': datetime.datetime(2025, 5, 13, 16, 39, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.57801835634536},
 {'Satellite 1': '51802',
  'Satellite 2': '60890',
  'TCA': datetime.datetime(2025, 5, 13, 16, 44, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.4191887875890674},
 {'Satellite 1': '44529',
  'Satellite 2': '50172',
  'TCA': datetime.datetime(2025, 5, 13, 16, 54, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.928605906836024},
 {'Satellite 1': '17754',
  'Satellite 2': '47796',
  'TCA': datetime.datetime(2025, 5, 13, 17, 14, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 2.212035907721031},
 {'Satellite 1': '43661',
  'Satellite 2': '50179',
  'TCA': datetime.datetime(2025, 5, 13, 17, 24, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 1.446530873735013},
 {'Satellite 1': '61069',
  'Satellite 2': '63636',
  'TCA': datetime.datetime(2025, 5, 13, 18, 4, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 1.1488292188883003},
 {'Satellite 1': '57731',
  'Satellite 2': '60409',
  'TCA': datetime.datetime(2025, 5, 13, 17, 49, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.9873009482064865},
 {'Satellite 1': '52903',
  'Satellite 2': '62162',
  'TCA': datetime.datetime(2025, 5, 13, 18, 9, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.839942678831653},
 {'Satellite 1': '3554',
  'Satellite 2': '48469',
  'TCA': datetime.datetime(2025, 5, 13, 18, 49, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.9350296618731058},
 {'Satellite 1': '54927',
  'Satellite 2': '63748',
  'TCA': datetime.datetime(2025, 5, 13, 18, 54, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 2.7723806230634436},
 {'Satellite 1': '40746',
  'Satellite 2': '43057',
  'TCA': datetime.datetime(2025, 5, 13, 19, 19, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 1.4018715349889892},
 {'Satellite 1': '17121',
  'Satellite 2': '50058',
  'TCA': datetime.datetime(2025, 5, 13, 18, 59, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 1.988372795562799},
 {'Satellite 1': '44881',
  'Satellite 2': '59658',
  'TCA': datetime.datetime(2025, 5, 13, 19, 4, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 2.705167934441127},
 {'Satellite 1': '10878',
  'Satellite 2': '38664',
  'TCA': datetime.datetime(2025, 5, 13, 19, 24, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.633673079023691},
 {'Satellite 1': '46137',
  'Satellite 2': '46360',
  'TCA': datetime.datetime(2025, 5, 13, 19, 24, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 2.161329483626638},
 {'Satellite 1': '58472',
  'Satellite 2': '6682',
  'TCA': datetime.datetime(2025, 5, 13, 19, 39, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.291680305410933},
 {'Satellite 1': '44310',
  'Satellite 2': '61699',
  'TCA': datetime.datetime(2025, 5, 13, 19, 44, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.892697111391574},
 {'Satellite 1': '3137',
  'Satellite 2': '61096',
  'TCA': datetime.datetime(2025, 5, 13, 20, 19, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.97228511369083},
 {'Satellite 1': '50032',
  'Satellite 2': '55043',
  'TCA': datetime.datetime(2025, 5, 13, 20, 24, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.5447806359585465},
 {'Satellite 1': '48816',
  'Satellite 2': '60346',
  'TCA': datetime.datetime(2025, 5, 13, 20, 34, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 2.531283728574781},
 {'Satellite 1': '34180',
  'Satellite 2': '41948',
  'TCA': datetime.datetime(2025, 5, 13, 20, 44, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.046093949829971},
 {'Satellite 1': '20262',
  'Satellite 2': '37735',
  'TCA': datetime.datetime(2025, 5, 13, 21, 44, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 1.3710922614845682},
 {'Satellite 1': '48607',
  'Satellite 2': '62443',
  'TCA': datetime.datetime(2025, 5, 13, 22, 24, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.6620160435062994},
 {'Satellite 1': '18959',
  'Satellite 2': '62088',
  'TCA': datetime.datetime(2025, 5, 13, 22, 44, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.715129344941383},
 {'Satellite 1': '4745',
  'Satellite 2': '60999',
  'TCA': datetime.datetime(2025, 5, 13, 22, 44, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.759960227053951},
 {'Satellite 1': '43714',
  'Satellite 2': '63258',
  'TCA': datetime.datetime(2025, 5, 14, 0, 4, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 2.4464735466226126},
 {'Satellite 1': '54774',
  'Satellite 2': '60479',
  'TCA': datetime.datetime(2025, 5, 13, 23, 4, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.75253729422835},
 {'Satellite 1': '42400',
  'Satellite 2': '57780',
  'TCA': datetime.datetime(2025, 5, 13, 23, 29, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.953778320599925},
 {'Satellite 1': '3908',
  'Satellite 2': '63374',
  'TCA': datetime.datetime(2025, 5, 13, 23, 29, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.160574451839863},
 {'Satellite 1': '43755',
  'Satellite 2': '60011',
  'TCA': datetime.datetime(2025, 5, 13, 23, 44, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.1822744267127967},
 {'Satellite 1': '57053',
  'Satellite 2': '9598',
  'TCA': datetime.datetime(2025, 5, 13, 23, 44, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.831512439372338},
 {'Satellite 1': '62633',
  'Satellite 2': '62658',
  'TCA': datetime.datetime(2025, 5, 14, 0, 9, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 0.8519024801017484},
 {'Satellite 1': '58852',
  'Satellite 2': '7008',
  'TCA': datetime.datetime(2025, 5, 14, 0, 34, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.937908713386802},
 {'Satellite 1': '55074',
  'Satellite 2': '58334',
  'TCA': datetime.datetime(2025, 5, 14, 0, 54, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.795137122395968},
 {'Satellite 1': '13089',
  'Satellite 2': '15597',
  'TCA': datetime.datetime(2025, 5, 14, 1, 14, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.8924400913355384},
 {'Satellite 1': '22493',
  'Satellite 2': '9510',
  'TCA': datetime.datetime(2025, 5, 14, 1, 29, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.849968951158865},
 {'Satellite 1': '60261',
  'Satellite 2': '9986',
  'TCA': datetime.datetime(2025, 5, 14, 1, 44, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.6903376143363578},
 {'Satellite 1': '5349',
  'Satellite 2': '59840',
  'TCA': datetime.datetime(2025, 5, 14, 1, 44, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.828438866223768},
 {'Satellite 1': '53897',
  'Satellite 2': '61266',
  'TCA': datetime.datetime(2025, 5, 14, 1, 59, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 2.0712932771343238},
 {'Satellite 1': '48079',
  'Satellite 2': '55667',
  'TCA': datetime.datetime(2025, 5, 14, 2, 4, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.334887985149648},
 {'Satellite 1': '45608',
  'Satellite 2': '9681',
  'TCA': datetime.datetime(2025, 5, 14, 2, 44, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.3242370554374334},
 {'Satellite 1': '13783',
  'Satellite 2': '61071',
  'TCA': datetime.datetime(2025, 5, 14, 3, 9, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.8860292233258393},
 {'Satellite 1': '25409',
  'Satellite 2': '45894',
  'TCA': datetime.datetime(2025, 5, 14, 3, 14, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.096353171390202},
 {'Satellite 1': '56144',
  'Satellite 2': '58985',
  'TCA': datetime.datetime(2025, 5, 14, 3, 19, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.082602518372318},
 {'Satellite 1': '60746',
  'Satellite 2': '61393',
  'TCA': datetime.datetime(2025, 5, 14, 3, 39, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 2.1046386217732267},
 {'Satellite 1': '32308',
  'Satellite 2': '57067',
  'TCA': datetime.datetime(2025, 5, 14, 3, 44, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.982896286184242},
 {'Satellite 1': '62730',
  'Satellite 2': '63694',
  'TCA': datetime.datetime(2025, 5, 14, 4, 4, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.044855317717022},
 {'Satellite 1': '29999',
  'Satellite 2': '47951',
  'TCA': datetime.datetime(2025, 5, 14, 4, 4, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.817266321352629},
 {'Satellite 1': '45207',
  'Satellite 2': '58897',
  'TCA': datetime.datetime(2025, 5, 14, 4, 14, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.0560474305850707},
 {'Satellite 1': '19111',
  'Satellite 2': '54862',
  'TCA': datetime.datetime(2025, 5, 14, 4, 14, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 2.8735723354750937},
 {'Satellite 1': '56183',
  'Satellite 2': '58162',
  'TCA': datetime.datetime(2025, 5, 14, 4, 24, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.082189434298262},
 {'Satellite 1': '39160',
  'Satellite 2': '60393',
  'TCA': datetime.datetime(2025, 5, 14, 4, 24, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.015857278382214},
 {'Satellite 1': '41884',
  'Satellite 2': '56839',
  'TCA': datetime.datetime(2025, 5, 14, 4, 39, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.837101100100216},
 {'Satellite 1': '62627',
  'Satellite 2': '62684',
  'TCA': datetime.datetime(2025, 5, 14, 5, 4, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.163885813901029},
 {'Satellite 1': '23200',
  'Satellite 2': '61167',
  'TCA': datetime.datetime(2025, 5, 14, 5, 14, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.34028658673076},
 {'Satellite 1': '55636',
  'Satellite 2': '59264',
  'TCA': datetime.datetime(2025, 5, 14, 5, 24, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.58855964897201},
 {'Satellite 1': '16625',
  'Satellite 2': '32316',
  'TCA': datetime.datetime(2025, 5, 14, 5, 59, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.6081766912921065},
 {'Satellite 1': '13923',
  'Satellite 2': '48979',
  'TCA': datetime.datetime(2025, 5, 14, 5, 59, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.507076271125549},
 {'Satellite 1': '33051',
  'Satellite 2': '44336',
  'TCA': datetime.datetime(2025, 5, 14, 6, 9, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.4246809492865586},
 {'Satellite 1': '37567',
  'Satellite 2': '61738',
  'TCA': datetime.datetime(2025, 5, 14, 6, 14, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.0280590322683607},
 {'Satellite 1': '30213',
  'Satellite 2': '43530',
  'TCA': datetime.datetime(2025, 5, 14, 6, 39, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.4488938893212864},
 {'Satellite 1': '13092',
  'Satellite 2': '62279',
  'TCA': datetime.datetime(2025, 5, 14, 6, 39, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.855138821888926},
 {'Satellite 1': '56966',
  'Satellite 2': '7160',
  'TCA': datetime.datetime(2025, 5, 14, 7, 14, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.644531034852372},
 {'Satellite 1': '36103',
  'Satellite 2': '59646',
  'TCA': datetime.datetime(2025, 5, 14, 6, 49, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.959588043482306},
 {'Satellite 1': '48971',
  'Satellite 2': '58925',
  'TCA': datetime.datetime(2025, 5, 14, 7, 29, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 0.7809710229899209},
 {'Satellite 1': '51971',
  'Satellite 2': '63071',
  'TCA': datetime.datetime(2025, 5, 14, 7, 29, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.026162633355608},
 {'Satellite 1': '42113',
  'Satellite 2': '59753',
  'TCA': datetime.datetime(2025, 5, 14, 7, 49, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.707281382151134},
 {'Satellite 1': '62625',
  'Satellite 2': '62658',
  'TCA': datetime.datetime(2025, 5, 14, 7, 59, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.774587514142313},
 {'Satellite 1': '10867',
  'Satellite 2': '59034',
  'TCA': datetime.datetime(2025, 5, 14, 7, 54, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.665239854334177},
 {'Satellite 1': '4139',
  'Satellite 2': '54394',
  'TCA': datetime.datetime(2025, 5, 14, 8, 14, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.7921163477250595},
 {'Satellite 1': '50201',
  'Satellite 2': '63021',
  'TCA': datetime.datetime(2025, 5, 14, 8, 29, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.316455939317345},
 {'Satellite 1': '60042',
  'Satellite 2': '60979',
  'TCA': datetime.datetime(2025, 5, 14, 8, 44, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.309421804653342},
 {'Satellite 1': '54003',
  'Satellite 2': '60763',
  'TCA': datetime.datetime(2025, 5, 14, 9, 19, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.620695616837378},
 {'Satellite 1': '51',
  'Satellite 2': '54768',
  'TCA': datetime.datetime(2025, 5, 14, 9, 44, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 2.532061415809399},
 {'Satellite 1': '21252',
  'Satellite 2': '49001',
  'TCA': datetime.datetime(2025, 5, 14, 10, 4, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.737781565958315},
 {'Satellite 1': '49147',
  'Satellite 2': '60394',
  'TCA': datetime.datetime(2025, 5, 14, 10, 9, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.297826606756512},
 {'Satellite 1': '32376',
  'Satellite 2': '40707',
  'TCA': datetime.datetime(2025, 5, 14, 10, 14, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.645270774524826},
 {'Satellite 1': '46672',
  'Satellite 2': '55080',
  'TCA': datetime.datetime(2025, 5, 14, 10, 14, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.474540924357667},
 {'Satellite 1': '21940',
  'Satellite 2': '22839',
  'TCA': datetime.datetime(2025, 5, 14, 10, 24, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 0.5307043462376269},
 {'Satellite 1': '37756',
  'Satellite 2': '59888',
  'TCA': datetime.datetime(2025, 5, 14, 10, 19, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.9381385997939202},
 {'Satellite 1': '26002',
  'Satellite 2': '62581',
  'TCA': datetime.datetime(2025, 5, 14, 10, 39, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.963870970687756},
 {'Satellite 1': '28070',
  'Satellite 2': '60183',
  'TCA': datetime.datetime(2025, 5, 14, 10, 49, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.509180339978944},
 {'Satellite 1': '49419',
  'Satellite 2': '60475',
  'TCA': datetime.datetime(2025, 5, 14, 10, 54, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.5827897485373015},
 {'Satellite 1': '41727',
  'Satellite 2': '47304',
  'TCA': datetime.datetime(2025, 5, 14, 11, 4, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.497279372149154},
 {'Satellite 1': '55687',
  'Satellite 2': '59136',
  'TCA': datetime.datetime(2025, 5, 14, 11, 34, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.2151759551859898},
 {'Satellite 1': '22601',
  'Satellite 2': '60486',
  'TCA': datetime.datetime(2025, 5, 14, 11, 34, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.225837988673837},
 {'Satellite 1': '10663',
  'Satellite 2': '10831',
  'TCA': datetime.datetime(2025, 5, 14, 11, 59, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.399107394051289},
 {'Satellite 1': '45289',
  'Satellite 2': '4745',
  'TCA': datetime.datetime(2025, 5, 14, 12, 44, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.0928560121424655},
 {'Satellite 1': '21032',
  'Satellite 2': '53063',
  'TCA': datetime.datetime(2025, 5, 14, 12, 59, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.579379793470794},
 {'Satellite 1': '12270',
  'Satellite 2': '25027',
  'TCA': datetime.datetime(2025, 5, 14, 13, 4, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 2.9095138680038186},
 {'Satellite 1': '45194',
  'Satellite 2': '61236',
  'TCA': datetime.datetime(2025, 5, 14, 13, 19, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.765346383214816},
 {'Satellite 1': '52135',
  'Satellite 2': '60896',
  'TCA': datetime.datetime(2025, 5, 14, 13, 59, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.1101063083215},
 {'Satellite 1': '19347',
  'Satellite 2': '42749',
  'TCA': datetime.datetime(2025, 5, 14, 13, 59, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.5096026842962615},
 {'Satellite 1': '22816',
  'Satellite 2': '46267',
  'TCA': datetime.datetime(2025, 5, 14, 14, 19, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.258797264795612},
 {'Satellite 1': '25869',
  'Satellite 2': '61404',
  'TCA': datetime.datetime(2025, 5, 14, 14, 39, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.740053501153925},
 {'Satellite 1': '13053',
  'Satellite 2': '16917',
  'TCA': datetime.datetime(2025, 5, 14, 14, 44, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.987122715163562},
 {'Satellite 1': '13767',
  'Satellite 2': '54791',
  'TCA': datetime.datetime(2025, 5, 14, 14, 49, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.409088213117683},
 {'Satellite 1': '58925',
  'Satellite 2': '8482',
  'TCA': datetime.datetime(2025, 5, 14, 15, 9, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 3.566972739830006},
 {'Satellite 1': '56874',
  'Satellite 2': '58879',
  'TCA': datetime.datetime(2025, 5, 14, 15, 24, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 4.902906733680409},
 {'Satellite 1': '55204',
  'Satellite 2': '62443',
  'TCA': datetime.datetime(2025, 5, 14, 15, 44, 6, 794282, tzinfo=datetime.timezone.utc),
  'Miss Distance (km)': 1.6548088826306484}]

## COLA (Collision Avoidance)

In [183]:
# Filter ca summary down to payload satellites
payload_sat_ids = df.loc[
    df["OBJECT_TYPE"].str.upper().str.strip() == "PAYLOAD"
]["NORAD_CAT_ID"].unique().tolist()

ca_summary_payload = [
    pair for pair in ca_summary
    if (pair["Satellite 1"] in payload_sat_ids)
    | (pair["Satellite 2"] in payload_sat_ids)
]

In [184]:
# Extract histroical data of conjunction candidates
cola_sat_ids = list(set(
    [pair["Satellite 1"] for pair in ca_summary_payload]
    + [pair["Satellite 2"] for pair in ca_summary_payload]
))

with SpaceTrackClient(ST_USER, ST_PWD) as st:
    resp2 = st.gp_history(
        norad_cat_id=cola_sat_ids,
        epoch=">now-14",
        format="json",
    )

In [185]:
# Convert JSON records to dataframe
df2 = pd.DataFrame(json.loads(resp2))
df2.head(1)

,CCSDS_OMM_VERS,COMMENT,CREATION_DATE,ORIGINATOR,OBJECT_NAME,OBJECT_ID,CENTER_NAME,REF_FRAME,TIME_SYSTEM,MEAN_ELEMENT_THEORY,...,RCS_SIZE,COUNTRY_CODE,LAUNCH_DATE,SITE,DECAY_DATE,FILE,GP_ID,TLE_LINE0,TLE_LINE1,TLE_LINE2
0,2.0,GENERATED VIA SPACE-TRACK.ORG API,2025-05-02T01:16:34,18 SPCS,ECHO 1 DEB (METAL OBJ),1960-009C,EARTH,TEME,UTC,SGP4,...,MEDIUM,US,1960-08-12,AFETR,None,4716072,286583390,0 ECHO 1 DEB (METAL OBJ),1 51U 60009C 25121.78334842 -.00000042 0...,2 51 47.2118 242.3744 0107174 54.2919 306...

In [186]:
# Check if all satellites are included in the fetched data
set(cola_sat_ids).difference(set(df2["NORAD_CAT_ID"].unique()))

set()

## Etc.

In [129]:
# Check SGP4 errors
from sgp4.api import SGP4_ERRORS
SGP4_ERRORS

{1: 'mean eccentricity is outside the range 0.0 to 1.0',
 2: 'nm is less than zero',
 3: 'perturbed eccentricity is outside the range 0.0 to 1.0',
 4: 'semilatus rectum is less than zero',
 5: '(error 5 no longer in use; it meant the satellite was underground)',
 6: 'mrt is less than 1.0 which indicates the satellite has decayed'}